---
import LangNav from '@/components/LangNav.astro'
import { useTranslations, type Lang } from '@/i18n/utils'
import Layout from '@/layouts/Layout.astro'
import { getAllDataName } from '@/utils'
import type { GetStaticPaths } from 'astro'

export const getStaticPaths = (() => {
  const data = getAllDataName()
  return Object.entries(data).map(([lang, seasons]) => ({
    params: { lang: lang as Lang },
    props: { seasons },
  }))
}) satisfies GetStaticPaths

const { lang } = Astro.params
const { seasons } = Astro.props

const t = useTranslations(lang)
---

<Layout lang={lang} title={t('catalog')}>
  <style>
    .season-item {
      margin-top: 8px;
      margin-bottom: 0;
    }
  </style>
  <div style="text-align: center">
    <h1>{t('catalog')}</h1>
    <LangNav />
    {
      seasons.map((name) => {
        return (
          <p class="season-item">
            <a data-name={name} href={`./${name}/sun/`}>
              {name}
            </a>
          </p>
        )
      })
    }
  </div>
  <script>
    const weekDayNames = ['sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat']
    for (const $ of document.querySelectorAll<HTMLAnchorElement>('.season-item a')) {
      const weekday = new Date().getDay()
      $.href = `./${$.dataset.name}/${weekDayNames[weekday]}/`
    }
  </script>
</Layout>
